
<!DOCTYPE html>
<!--
Author: EdgarGarcia
Author URL: http://EdgarGarcia.ca
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
-->
 556797884270 01/22 communauto
 640

{% load static %}
<html lang="En">

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon1.png' %}" />
    

    <link rel="stylesheet" href="{% static 'css/whatsapp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" base href="/">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon1.png' %}" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
		<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>


		<script type="text/javascript">
			var user = '{{request.user}}'
	
			function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken')
            
            function getCookie(name) {
                // Split cookie string and get all individual name=value pairs in an array
                var cookieArr = document.cookie.split(";");
    
                // Loop through the array elements
                for(var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");
    
                    /* Removing whitespace at the beginning of the cookie name
                    and compare it with the given string */
                    if(name == cookiePair[0].trim()) {
                        // Decode the cookie value and return
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
    
                // Return null if not found
                return null;
            }   
            var cart = JSON.parse(getCookie('cart'))
    
            if (cart == undefined){
                cart = {}
                console.log('Cart Created!', cart)
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
            }
            console.log('Cart:', cart)
        
        </script>
		
<head>
       
    <title>SeprioVital</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Sepriovital" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        
        
    </script>
    <!-- //Meta tag Keywords -->

   <!-- Custom-Files -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
   <!-- Bootstrap-Core-CSS -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
   <!-- Style-CSS -->
   <!-- font-awesome-icons -->
   <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
   <!-- //font-awesome-icons -->
   <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}"/>
    



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=584125580408&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sepriovital%20." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>

</head>
    
<body>
    

    <!-- mian-content -->
    <div class="main-banner inner" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1> <a href="{% url 'index' %}">SeprioVital</a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        <li><a href="{% url 'index' %}">Principal </a></li>
                        <li><a href="{% url 'about' %}">Conocenos</a></li>
                        <li><a href="{% url 'store' %}">Tienda</a></li>
                        
                        <li><a href="{% url 'contact' %}">Contacto</a></li>
                        <div class="form-inline my-2 my-lg-0">
                            
                              
                             <a href="{% url 'cart' %}">
                              <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                             </a>
                             <p id="cart-total">{{cartItems}}</p>
                        </div>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->

    </div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'cart' %}">Ir al carrito-></a>
        </li>
            </ol>
    <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate mb-5 text-center">
          <h2 class="mb-0 bread">Productos SeprioVital</h2>
        </div>
    <section class="ab-info-main py-md-5 py-4">
        <div class="container py-md-3">
            <!-- top Products -->
            <div class="row">
                <!-- product left -->
                
                </div>
                <!-- //product left -->
                <!-- product right -->
                <div class="left-ads-display col-lg-14">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info shoe text-center">
                                <div class="men-thumb-item">
                                    <img class="thumbnail" src="{{product.imageURL}}">
                                    <div class="box-element product">
                                        <h6><strong>{{product.name}}</strong></h6>
                                        <hr>
                        
                                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar al carrito</button>
                                        <a class="btn btn-outline-success" href="modelo{{product.id}}">Ver</a>
                                        <h4 style="display: inline-block;float: right"><strong>${{product.price}}</strong></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-img-right mt-4 text-center">
                        <h2 class="mb-4"><strong><font color="#F8F8F8">Siguenos en instagram!</font></strong><br>
                        </h2>
                        <a class="btn btn-dark btn-xl" href="https://msng.link/o/?sepriovital=ig"><font color="#F8F8F8">Contactanos con un mensaje directo!</font></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- //contact -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="{% url 'index' %}"><span class="fa fa-bold" aria-hidden="true"></span>Sepriovital</a>
                    </h2>
                    <p>Cuando la Segurida es Vital.</p>
                    <h4 class="sub-con-fo ad-info my-4">Redes Sociales</h4>
                    <ul class="w3layouts_social_list list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#" class="w3pvt_twitter">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li class="ml-2">
                            <a href="#" class="w3pvt_google">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="w3layouts-news-letter">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contactanos</h3>

                        <p>Correo.</p>
                        <form action="#" method="post" class="w3layouts-newsletter">
                            <input type="email" name="Email" placeholder="Enter your email..." required="">
                            <button class="btn1"><span class="fa fa-paper-plane-o" aria-hidden="true"></span></button>

                        </form>
                    </div>
                    <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Informacion</h3>
                            <ul class="list-unstyled w3layouts-icons">
                                <li>
                                    <a href="index.html">Principal</a>
                                </li>
                                <li class="mt-3">
                                    <a href="about.html">Conocenos</a>
                                </li>
                                <li class="mt-3">
                                    <a href="store">Catalogo</a>
                                </li>
                                <li class="mt-3">
                                    <a href="#">Servicios</a>
                                </li>
                                <li class="mt-3">
                                    <a href="contact.html">Contactanos</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <!-- social icons -->
                            <div class="agileinfo_social_icons">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Customer Service</h3>
                                <ul class="list-unstyled w3layouts-icons">

                                    <li>
                                        <a href="#">Conocenos</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="#">Delivery</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="#">Grarantia</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="#">Terminos y Condiciones</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="#">Whatsapp</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social icons -->
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contacto</h3>
                            <div class="contact-info">
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2">Telefono</h4>
                                    <p>58414246413</p>
                                </div>
                                <div class="footer-address-inf my-4">
                                    <h4 class="ad-info mb-2">Email </h4>
                                    <p><a href="mailto:edgar.jgg93@gmail.com">Info@Sepriovital.com</a></p>
                                </div>
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2">Ubicacion</h4>
                                    <p>San Antonio de los Altos</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="cpy-right text-left row">
                        <p class="col-md-10">© 2020 Sepriovital. Diseño 
                            <a href="http://edgargarcia.ca"> EdgarGarcia.</a>
                        </p>
                        <!-- move top icon -->
                        <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
                        <!-- //move top icon -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>

</html>
